<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

	<display-name>Handson Java vanilla Web application</display-name>

    <servlet>
        <servlet-name>greetingServlet</servlet-name>
        <servlet-class>ro.jtonic.handson.javaweb.GreetingServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>greetingjsp</servlet-name>
        <jsp-file>/pages/greeting.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>greetingjstl</servlet-name>
        <jsp-file>/pages/greetingtaglib.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>greetingServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>greetingjsp</servlet-name>
        <url-pattern>/hellojsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>greetingjstl</servlet-name>
        <url-pattern>/hellojstl</url-pattern>
    </servlet-mapping>
</web-app>